.footer {
    background-color: black;
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 9rem;
    
}

.footer-links{
    list-style: none;
    text-align: center;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    align-items: center;
    
}

.footer-link{

    font-size: 1rem;
    cursor: pointer;
   
}
.footer-link:hover {
    transform: scale(1.1); 
}
.footer-link a {
    color: white;
    font-family: 'Helvetica';
    font-size: bold;
}
.footer-link-main a {
    color: white;
    font-size: 2.5rem;
    font-family: 'Helvetica';
    font-size: bold;
  
}
.footer-link-main:hover {
    transform: scale(1.1); 
}
.footer-text {
    font-family: 'Canela';
    color: white;
}

@media (max-width: 725px) {
    .footer {
        height: auto;
        padding: 2rem 1rem;
    }

    .footer-links {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.8rem;
        text-align: center;
    }

    
    .footer-link-main {
        grid-column: 1 / 3;
        order: -1; 
    }

    .footer-link-main a {
        font-size: 1.8rem;
    }
}