.card{
    max-width: 370px;
    display:flex;
    flex-direction: column;
}

img {
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    width: 370px;
    height: 200px; 
    object-fit: cover;        /* scales & crops to fill the box */
    object-position: center;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:15px;
}

.card-title {
    font-family: 'Canela';
    font-size: 3rem;
    margin: 0.3rem 0rem;
}


.card-role {
    font-size: 1rem;
    margin: 0.3rem 0rem;
}

.card-text {
    font-family: 'Canela-Regular';
    font-size: 1rem;
    margin: 0.4rem 0rem;

}

.card-date {
    color:#8E8E93;
    font-size: 1rem;
    margin: 0.4rem 0rem;

}

.card-skills {
    list-style: none;
    text-align: center;
    display: flex;
    padding: 0px;
    margin: 0.5rem 0rem;
 
}
.card-skill{
    display: inline-block;
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 2px;


}