.card{
    max-width: 400px;
    display:flex;
    flex-direction: column;
}
img {
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    width: 400px;
    height: 225px; 
    object-fit: cover;        /* scales & crops to fill the box */
    object-position: center;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:15px;
}
h3{
    font-size: 28px;
    color: black;
    margin-block-start: 0;
    margin-block-end: 0;
}
h4{
    font-size: 14px;
    margin: 0px;
    font-style: italic;
    text-align: left;
}
p {
    font-size: 14px;
    text-align: left;
    margin-block-start: 3px;
    margin-block-end: 3px;
}
#card-skills{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
}