h1 {
    font-size: 100px;
    margin-block-end: 0;
    text-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
h2{
    font-size: 42px;
    color: black;
    margin-top:70px;
    margin-bottom:15px;
}
#title{
    color: #5E503F;
    margin-block-start: 0;
    margin-block-end: 0;
    text-shadow: 0 5px 10px rgba(0,0,0,0.3);
    
}
#skills-category-1{
    margin-bottom:10px;
}
.skills-category{
    margin-top:20px;
    margin-bottom:10px;
    
}
.skills {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0 auto;
}
section{
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}
.cards {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    justify-content: center;
    gap: 20px;
    margin: 20px;
}