@import "@fontsource/roboto/700.css";
@import "@fontsource/roboto/700-italic.css";

:root {
  font-family: 'Roboto' , sans-serif;

  color: #5E503F;
  background-color: white;

  margin: 0px;
  padding: 0px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
