nav {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    background-color: #5E503F;
    position: fixed;
    top: 0;
    left:  0;
    width:100%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    z-index: 1000;

}
nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    text-align: center;
    justify-content: center;
}
nav .icons {
    float: left;
}
nav .links {
    float: right;
}
nav li{
    display: inline-flex;
    align-items: center;
    padding-left: 7px;
    padding-right: 7px;
}
nav a {
    text-decoration: none;
    font-size: 16px;
    color: white;
}