.section {
    display: flex;
    flex-direction: column;
    justify-items: center;

}

.section-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, 370px);
    gap: 3rem;
    justify-content: center;
}



