.homepage {
    margin: 0rem 6rem;
    display: flex;
    flex-direction: column;
    justify-items: center;

}

.header { /* for all headings */
    font-size: 5rem;
    text-align: center;
    margin-block-start: 1.7em;
}

.section-cards{ /* for all section cards */
    display: grid;
    grid-template-columns: repeat(auto-fill, 370px);
    gap: 3rem;
    justify-content: center;
}

@media (max-width: 800px) {
    .header{
    font-size: 3.4rem;
    text-align: center;

    }

    .homepage {
    margin: 0rem 3rem;
}

}