.home {
    display: grid; 
    align-items: center;
    justify-content: center;
    position: relative;
    grid-template-columns: repeat(6, max-content);
    grid-template-rows: repeat(4, max-content);
    padding: 5.5rem 0rem

}

.home-title {
    font-size: clamp(4.5rem, 8.25vw, 8rem);
    text-align: center;
    margin: 0rem;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    grid-column: 1 / 6;
    grid-row: 1;
    position: relative;
    z-index: 1;
}

.home-subtitle {
    font-family: 'Canela';
    font-size: clamp(2.5rem, 4vw, 3.3rem);
    font-style: italic;
    text-align: center;
    margin: 0px;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    grid-column: 2 / 5;
    grid-row: 2;
    position: relative;
    z-index: 1;
}

.home-icons {
    display: flex;
    gap: 1rem;
    grid-column: 3 / 4;
    grid-row: 3;
}

.home-icon:hover {
    transform: scale(1.1);
}

.home-cover {
    width: clamp(16rem, 20vw, 20rem);
    height: clamp(22rem, 28vw, 28rem);
    object-fit: cover;
    object-position: center;
    z-index: 0;
    grid-column: 4 / 6;
    grid-row: 2 / 5;
    margin-top: -3rem;
}

.home-quote {
    font-family: 'Canela';
    font-style: italic;
    font-size: clamp(1.25rem, 1.8vw, 1.5rem);
    text-align: left;
    width: clamp(18rem, 30vw, 30rem);
    grid-column: 1 / 4;
    grid-row: 4;
}


@media (max-width: 800px) {
    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 1rem;
    }

    .home-title {
        font-size: 3.8rem;
        text-align: center;
        margin: 1rem;
    }

    .home-subtitle {
        font-size: 2rem;
        text-align: center;
        margin: 1rem;
    }

    .home-icons {
        justify-content: center;
        margin: 1rem;
    }

    .home-cover {
        width: 16rem;
        height: 22rem;
        margin: 1rem;
    }

    .home-quote {
        width: 90%;
        font-size: 1.25rem;
        text-align: center;
        margin: 1rem;
    }
}